:root {
    --color-principal: #4ea8de;
    --color-oscuro: #002e5d;
    --color-fondo: #f4f7f9;
    --color-tarjeta: #ffffff;
    --color-texto-secundario: #6c757d;
    
    --color-exito: #2ecc71;
    --color-alerta: #e74c3c;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-oscuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}